@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

} /* comando CSS total para o projeto */

html, body {
    height: 100vh;
    width: 100%;
    background-color: black;
    overflow: hidden;

}
body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative; /* é preciso colocar isso para que eu consiga mexer na posição da SECTION dentro dele depois de forma absoluta e precisa */
    height: 100vh;
    

}

section#telefone {
    
    position: absolute; /* colocando " POSITION: ABSOLUTE; " eu consigo mexer e deixar ele centralizado no meio da tela */
    top: 50%;
    left: 50%; /*  após isso ele vai ficar um pouco pra baixo/direita, pois esta centralizando o canto superior esquerdo no centro da tela, por isso devemos colocar um TRANSFORM: TRANSLATE (-50%, -50%), assim ele centraliza o conteúdo no centro. */

    transform: translate(-50%, -50%);  /*  depois de colocar " top:50%; , left:50%; " , eu tenho que colocar "transform: translate ( -50% , -50% ) para ele retornar ao centro da tela  */

    height: 627px;
    width: 311px;
    
    background: url('../imagens/frame-iphone.png') no-repeat;

}

section#redes-sociais {
    text-align: left;

}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
    box-sizing: border-box;
    
}
section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.397);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.568);
    transition: transform 0.3s;
}

iframe#tela {
    
    position: relative;
    top: 80px;
    left: 22px;
    height: 472px;
    width: 268px;


}